.header {
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
  }

  &__box {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    // &-wrap {
    //   padding: 25px 0;
    //   display: flex;
    //   justify-content: space-between;
    // }
  }

  &__nav {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 45px;
      height: 1px;
      width: 100%;
      background-color: var(--second-bg-color);
    }
  }
}
