.header {
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
  }

  &__box {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(sm) {
        margin-bottom: 20px;
      }
    }
  }

  &__logo {
    @include breakpoint(sm) {
      padding-right: 10px;
    }
  }

  &__nav {
    @include breakpoint(sm) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 45px;
      height: 1px;
      width: 100%;
      background-color: var(--second-bg-color);
    }
  }
}
