.services {
  position: relative;

  &__items {
    padding-bottom: 115px;
    background-color: var(--primary-bg-color);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--second-bg-color);
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      @include breakpoint(md) {
        justify-content: center;
      }
    }
  }
  &__item {
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 120px;
    padding: 45px 5px;

    @include breakpoint(md) {
      width: 30%;
    }
    @include breakpoint(sm) {
      width: 50%;
    }
    @include breakpoint(xsm) {
      width: 100%;
    }

    &:hover {
      border-left: 1px solid var(--second-bg-color);
      border-right: 1px solid var(--second-bg-color);
      background-color: var(--active-bg-color);
    }
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      max-width: 36px;
      max-height: 42px;
    }

    &-link {
      margin-left: 10px;
      color: var(--primary-text-color);
      max-width: 127px;
      font-family: Arial;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      text-decoration: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: auto;
        z-index: 1;
      }
    }
  }
}
