.hamburger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
  z-index: 999;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in;
  color: var(--primary-text-color);
  user-select: none;

  @include breakpoint(sm) {
    display: block;
  }

  &__line {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2.4px;
    border-radius: 5px;
    background-color: var(--active-bg-color-dark);
    z-index: 8;
    transition: all 0.3s ease;
  }
}

.header__hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: var(--active-bg-color-dark);
  transition: 0.3s ease;
}

.header__hamburger:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: var(--active-bg-color-dark);
  transition: 0.3s ease;
}