.logo {
  display: flex;
  align-items: center;

  &__text {
    &-wrap {
      margin-left: 15px;
    }
  }

  &__title {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--active-text-color);

    @include breakpoint(sm) {
      font-size: 20px;
    }
  }

  &__descr {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;

    @include breakpoint(sm) {
      font-size: 12px;
    }
  }
}
