.search {
  position: relative;
  display: flex;
  align-items: center;
  
  @include breakpoint(sm) {
    justify-content: center;
  }

  &__input {
    position: relative;
    padding: 2px 25px 2px 2px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--active-bg-color);
    background-image: url("../img/search-gray.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 95%;
    &:focus {
      border: 2px solid var(--active-border-color);
    }
  }

  &__icon {
    position: absolute;
    right: -13%;
    width: 16px;
    height: 16px;
    cursor: pointer;

    @include breakpoint(sm) {
      position: static;
      margin-left: 15px;
    }
  }
}
