.slider {
  position: relative;
  height: 446px;
  width: 100%;

  &__item {
    height: 100%;
    font-family: "Roboto";
    background-color: var(--slide-bg-color);
    background-image: url("../img/promo/slide-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5%;

    &-inner {
      height: 100%;
      padding: 60px 0 90px 110px;
      background-image: url("../img/promo/promo-overlay.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include breakpoint(sm) {
        padding: 60px 50px 90px 50px;
      }
      @include breakpoint(xsm) {
        padding: 30px 20px 45px 20px;
      }
    }

    &-subtitle {
      margin-top: 0;
      margin-bottom: 10px;
      display: inline-block;
      padding: 8px 9px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      background-color: var(--second-active-bg-color);
      color: var(--second-text-color);
      font-size: 16px;

      @include breakpoint(md) {
        font-size: 14px;
      }
      @include breakpoint(sm) {
        margin-bottom: 20px;
        font-size: 12px;
      }
    }

    &-title {
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 500px;
      font-size: 60px;
      line-height: 48px;
      color: var(--second-text-color);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

      @include breakpoint(md) {
        font-size: 54px;
      }

      @include breakpoint(sm) {
        max-width: 415px;
        font-size: 48px;
      }
      @include breakpoint(xsm) {
        line-height: 32px;
        font-size: 32px;
        margin-bottom: 30px;
      }
    }

    &-descr {
      margin: 0;
      max-width: 600px;
      font-family: Arial;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      color: #ffffff;

      @include breakpoint(md) {
        font-size: 14px;
      }

      @include breakpoint(sm) {
        font-size: 12px;
      }
      @include breakpoint(sm) {
        line-height: 16px;
      }
    }
  }

  &__pagination {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    &-item {
      margin: 0 5px;
      display: block;
      width: 10px;
      height: 10px;
      opacity: 0.8;
      border: 1px solid #ffffff;
      cursor: pointer;

      &:hover {
        background-color: var(--second-bg-color);
      }

      &_active {
        border: 1px solid var(--second-active-bg-color);
        background-color: var(--second-active-bg-color);
      }
    }
  }
}
