.slider {
  position: relative;
  height: 446px;
  width: 100%;

  &__item {
    height: 100%;
    font-family: "Roboto";
    background-color: var(--slide-bg-color);
    background-image: url("../img/promo/slide-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5%;

    &-inner {
      padding: 60px 0 90px 110px;
      background-image: url("../img/promo/promo-overlay.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-subtitle {
      margin-top: 0;
      margin-bottom: 10px;
      display: inline-block;
      padding: 8px 9px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      background-color: var(--second-active-bg-color);
      color: var(--second-text-color);
      font-size: 16px;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 500px;
      font-size: 60px;
      line-height: 48px;
      color: var(--second-text-color);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }

    &-descr {
      margin: 0;
      max-width: 600px;
      font-family: Arial;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      color: #ffffff;
    }
  }

  &__pagination {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    grid-column-gap: 10px;
    &-item {
      display: block;
      width: 10px;
      height: 10px;
      opacity: 0.8;
      border: 1px solid #ffffff;
      cursor: pointer;

      &:hover {
        background-color: var(--second-bg-color);
      }

      &_active {
        border: 1px solid var(--second-active-bg-color);
        background-color: var(--second-active-bg-color);
      }
    }
  }
}
